@{
    ViewData["Title"] = "Home Page";
}
<h1 class="display-1 mt-5 text-center">The Greenhouse Manager</h1>
<div class="d-flex justify-content-center align-items-center">     
    <div class="container-fluid text-center mt-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card shadow h-100" data-toggle="tooltip" data-placement="top" title="Plants">
                    <div class="card-body" role="button">
                        <h5 class="card-title"><a class="nav-link text-dark stretched-link" onclick="return DisplayProgressMessage(this, 'Loading...');" asp-area="" asp-controller="Plants" asp-action="Index">Plants</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card shadow h-100" data-toggle="tooltip" data-placement="right" title="Plant Batches">
                    <div class="card-body" role="button">
                        <h5 class="card-title"><a class="nav-link text-dark stretched-link" onclick="return DisplayProgressMessage(this, 'Loading...');" asp-area="" asp-controller="PlantBatches" asp-action="Index">Plant Batches</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card shadow h-100" data-toggle="tooltip" data-placement="right" title="Greenhouses">
                    <div class="card-body" role="button">
                        <h5 class="card-title"><a class="nav-link text-dark stretched-link" onclick="return DisplayProgressMessage(this, 'Loading...');" asp-area="" asp-controller="Greenhouses" asp-action="Index">Greenhouses</a></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4">
                <div class="card shadow h-100" data-toggle="tooltip" data-placement="top" title="Orders">
                    <div class="card-body" role="button">
                        <h5 class="card-title"><a class="nav-link text-dark stretched-link" onclick="return DisplayProgressMessage(this, 'Loading...');" asp-area="" asp-controller="Orders" asp-action="Index">Orders</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card shadow h-100" data-toggle="tooltip" data-placement="top" title="Supplies">
                    <div class="card-body" role="button">
                        <h5 class="card-title"><a class="nav-link text-dark stretched-link" onclick="return DisplayProgressMessage(this, 'Loading...');" asp-area="" asp-controller="Supplies" asp-action="Index">Supplies</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card shadow h-100" data-toggle="tooltip" data-placement="top" title="Suppliers">
                    <div class="card-body" role="button">
                        <h5 class="card-title"><a class="nav-link text-dark stretched-link" onclick="return DisplayProgressMessage(this, 'Loading...');" asp-area="" asp-controller="Suppliers" asp-action="Index">Suppliers</a></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4">
                <div class="card shadow h-100" data-toggle="tooltip" data-placement="top" title="Supply Purchases">
                    <div class="card-body" role="button">
                        <h5 class="card-title"><a class="nav-link text-dark stretched-link" onclick="return DisplayProgressMessage(this, 'Loading...');" asp-area="" asp-controller="SupplyPurchases" asp-action="Index">Supply Purchases</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card shadow h-100" data-toggle="tooltip" data-placement="top" title="Inventory">
                    <div class="card-body" role="button">
                        <h5 class="card-title"><a class="nav-link text-dark stretched-link" onclick="return DisplayProgressMessage(this, 'Loading...');" asp-area="" asp-controller="Inventories" asp-action="Index">Inventory</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card shadow h-100" data-toggle="tooltip" data-placement="top" title="Environmental Logs">
                    <div class="card-body" role="button">
                        <h5 class="card-title"><a class="nav-link text-dark stretched-link" onclick="return DisplayProgressMessage(this, 'Loading...');" asp-area="" asp-controller="EnvironmentLogs" asp-action="Index">Environmental Logs</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        function DisplayProgressMessage(ctl, msg) {
            $(ctl).prop("disable", true).text(msg);
            $("body").addClass("submit-progress-bg");
            $(".submit.progress").removeClass("hidden");
            setTimeout(function () {
                $(ctl).click();
            }, 1);
            return true;
        }
    </script>
}