@model Plant_Management_App.Models.Inventory

@{
    ViewData["Title"] = "Edit";
}
<br />
<h1 class="mt-5">Edit Inventory Item</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InventoryID" />
            <div class="form-group">
                <label asp-for="PlantID" class="control-label"></label>
                @Html.DropDownListFor(model => model.PlantID, (SelectList)ViewBag.PlantID, "Select Plant", new { @class = "form-control" })
                <span asp-validation-for="PlantID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BatchID" class="control-label"></label>
                <input asp-for="BatchID" class="form-control" />
                <span asp-validation-for="BatchID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityAvailable" class="control-label"></label>
                <input asp-for="QuantityAvailable" class="form-control" />
                <span asp-validation-for="QuantityAvailable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mt-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary mt-2" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
